/* Variables */
:root {
	--main-bg-color: #fff;
    --alternate-bg-color: #FFF8E7;
	--content-size: 1200px;
	--font-color: #444;
	--font-color-inverted: #ddd;
	--primary-color: #81b1c9;
    --primary-color-darker: #55859f;
	--secondary-color: #e8f2eb;
	--secondary-color-darker: #cad4cd;
	--content-font-family: Lucida Console, monospace;
	--content-font-size: 18px;
	--header-font-family: Oxygen, Sans-Serif;
	--header-font-size: 32px;
}


/* Global */
* {
    line-height: 1.8;
    font-size: var(--content-font-size);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--main-bg-color);
	min-height: 90vh;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
    overflow-x: hidden;
}


p, a, li {
	font-family: var(--content-font-family);
    color: var(--font-color);
	opacity: 0.9;
}

a {
    transition: .3s;
    color: var(--primary-color-darker)
}

a:hover {
    text-decoration: none;
    color: black
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-family);
    color: var(--font-color);
	font-weight: bold;
    opacity: 0.9;
}

h3 {
    letter-spacing: 3px;
    text-align: center;
    margin: 50px 0;
}

img {
    height: auto;
    width: 45%;
    margin: 50px 50px 50px 0;
}

.screenshot {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .screenshot img {
        width: 75%;
        margin: 50px 0;
    }

.splitContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.splitContainer > div, .splitContainer > p {
    flex: 1;
    min-width: 300px;
}

.reverse {
    flex-direction: row-reverse;
}

    .reverse img {
        margin: 50px 0 50px 50px;
    }

.whiteCard {
    margin: 50px 0;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

    .whiteCard p {
        margin-bottom: 0;
    }

.greenCard {
    background-color: var(--secondary-color);
}

.subtle {
    font-size: 16px;
    opacity: .8;
}

.link {
    font-weight: bold;
    text-align: center;
    margin: 25px 0;
}

/* Navigation */
nav.navbar.navbar-expand-lg.sticky-top.navbar-light {
    background-color: var(--primary-color);
    padding: 0 25px;
    height: 10vh;
    transition: .5s ease-in-out;
    box-shadow: gray 0px 0px 5px;
}

    nav .navbar-brand {
        padding: 0;
        font-size: 28px;
    }

    nav #navSections {
        justify-content: center;
        flex: 1;
    }

        nav #navSections a {
            padding: 10px 20px;
        }

    nav #navLinks {
        justify-content: end;
    }

        nav #navLinks a {
            padding: 0 10px;
            display: flex;
        }

        nav #navLinks i {
            font-size: 24px;
        }

/* Sections */
#sections .section {
    scroll-margin-top: 100px;
    padding: 100px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #sections .section:nth-child(even) {
        background-color: var(--secondary-color);
    }

    #sections .section > div {
        max-width: var(--content-size);
    }

    #sections .angle-top-right {
        height: 0;
        border-bottom: 50px solid var(--secondary-color);
        border-left: 100vw solid transparent;
        margin-top: -149px;
        position: absolute;
        left: 0;
    }

    #sections .angle-top-left {
        height: 0;
        border-bottom: 50px solid var(--secondary-color);
        border-right: 100vw solid transparent;
        margin-top: -149px;
        position: absolute;
        left: 0;
    }

    #sections .angle-bottom-right {
        height: 0;
        border-top: 50px solid var(--secondary-color);
        border-left: 100vw solid transparent;
        margin-top: -100px;
        position: absolute;
        left: 0;
    }

    #sections .angle-bottom-left {
        height: 0;
        border-top: 50px solid var(--secondary-color);
        border-right: 100vw solid transparent;
        margin-top: -100px;
        position: absolute;
        left: 0;
    }

    #sections .section div h2 {
        letter-spacing: 3px;
        border-left: 8px solid var(--primary-color);
        padding-left: 20px;
        margin-bottom: 50px;
    }


/* Home */
#home {
    background-image: url("../images/cottonwood_heights.jpg");
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    background-size: 100%; 
    justify-content: end;
    z-index: 20;
}

    #home .splitContainer {
        background-color: rgba(50,50,50,.6);
        border-radius: 0 30px 30px 0;
        padding: 20px 100px;
        position: absolute;
        left: 0;
    }

    #home h1, #home h4, #home p {
        color: var(--font-color-inverted);
        text-shadow: 0px 2px 2px black;
        width: auto;
    }

    #home #profilePic {
        background: url("../images/profile_pic2.jpg");
        width: 250px;
        height: 250px;
        min-width: 250px;
        display: inline-block;
        background-position: 50% 50%;
        background-size: cover;
        border-radius: 50%;
        border: 10px solid white;
        box-shadow: 0px 2px 2px black;
        margin-right: 50px;
        flex: inherit;
    }


/* Education */
#education #usuLogo {
    opacity: .5;
}

#education #courses ul {
    padding-left: 0;
}

#education #courses li {
    list-style-type: none;
    margin: 20px 0;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 90%;
    font-size: 14px;
}

#education #courses li:nth-child(even) {
    margin-left: auto;
    text-align: right;
}


/* Experience  */


/* Skills */
#skills h3 {
    margin-top: 100px;
}

#skills .icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

    #skills .icons img {
        width: auto;
        height: 100px;
        margin: 25px;
    }

#skills .skill {
    margin: 25px;
}

    #skills .skill .progress {
        background-color: #fff;
    }

    #skills .skill .progress-bar {
        background-color: var(--primary-color-darker);
}


/* Portfolio */
.paddle img {
    margin: 50px 25px;
    min-width: 40%;
}


/* About */
#about .colorSwab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 400px;
}
    #about .colorSwab > div {
        height: 50px;
        width: 50px;
        border-radius: 5px;
    }

    #about .colorSwab p {
        margin-bottom: 0;
        margin-left: 25px;
    }

    #about #colorSwabBlue {
        background-color: var(--primary-color);
    }

    #about #colorSwabGreen {
        background-color: var(--secondary-color);
    }

    #about #colorSwabLatte {
        background-color: var(--alternate-bg-color);
    }


/* Footer */
#footer {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 50px;
    background-color: var(--alternate-bg-color);
}
    #footer a {
        color: var(--font-color);
        opacity: .9;
    }

        #footer a:hover {
            opacity: 1;
            color: black;
        }

    #footer h3 {
        margin:  0 0 25px;
    }

    #footer img {
        height: 100px;
        width: auto;
    }

    #footer .links{
        width: var(--content-size);
        display: flex;
        justify-content: center;
    }

        #footer .links a {
            padding: 20px;
            text-align: center;
        }

        #footer .links a i {
            padding-left: 5px;
        }

    #footer #resumeLink {
        font-size: 20px;
        border: 2px solid var(--font-color);
        padding: 3px 10px;
        border-radius: 5px;
    }

/* Mobile */
@media screen and (max-width: 1200px) {
	:root {
		--content-size: 992px;
	}

    img, .screenshot img {
        width: 50%;
    }

    .navbar-light .navbar-toggler {
        border: none;
        color: black;
    }

    .navbar-brand {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
    }
    
    nav #navigationbar {
        text-align: center;
        background-color: var(--primary-color);
        width: 100vw;
        margin-left: -25px;
        margin-right: -25px;
    }

    nav #navLinks {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin: 25px;
    }

    #sections .section {
        padding: 100px;
    }

    #sections #home {
        justify-content: end;
        padding: 0;
        background-size: cover;
        min-height: 75vh;
    }

    #home .splitContainer {
        justify-content: center;
        border-radius: 30px 30px 0 0;
        text-align: center;
        margin: 0 auto;
        padding: 50px;
        position: relative;
    }

    #home #profilePic {
        margin: 25px;
    }
}


@media screen and (max-width: 992px) {
	:root {
		--content-size: 600px;
	}

    #sections .section {
        padding: 100px 75px;
    }
    
    img, .screenshot img {
        width: 75%;
        margin: 50px 0;
    }
    
    .reverse {
        flex-direction: row;
    }

    .reverse img {
        margin: 50px 0;
    }
}


@media screen and (max-width: 600px) {
	:root {
		--content-size: 90vw;
		--header-font-size: 24px;
	}

    #sections .section {
        padding: 100px 50px;
    }

    img, .screenshot img {
        width: 100%;
    }
}